---
---
<!DOCTYPE html>
<html lang="en">
<head>
	<title>{{ site.author }} / {{ site.tagline }}</title>
	<meta name="author" content="{{ site.author }}">
	<meta name="description" content="{{ site.description }}">
	<meta name="skills" content="{{ site.skills }}">
	<meta name="keywords" content="{{ site.keywords }}">
	{% include head.html %}
	<style>
		a:hover {
  			color: #aaa;
		}

	</style>
</head>
<body>
	{% include header.html %}
	<main class="content">

		<section class="intro">
			<div class="container">
				<h2>About me.</h2>
				<p>Nice to meet you. My name is <span style="color: #6D98BA">Tanya Lai</span>.</p>
				<p><br>{{ site.description }}<a href="https://www.michiganpops.org/" style="text-decoration: underline">Michigan Pops Orchestra</a>, researching in the M-InterACT Lab under <a href="http://isd.engin.umich.edu/degree-programs/design-science/melody-ku" style="text-decoration: underline">Dr. Melody Ku</a>, and obssessing over stationery.</p>
			</div>
		</section>

		<section class="bodyCon">
			<div class="container">
				<h2>My Resume.</h2>
				<p>Download my resumé <a href="https://drive.google.com/file/d/1LekW7MkGrc0PxsvitmfaY3grpmoh31Dk/view?usp=sharing" style="text-decoration: underline; color: #6D98BA">here</a></p>
			</div>
		</section>

		<section class="bodyCon">
			<div class="container">
				<h2>My Skills.</h2>
				<p>Proficient: C++</p>
				<p>Familiar: Java, Assembly, MATLAB, HTML/CSS, Verilog</p>
				<p>Other Skills: Adobe Photoshop, Microsoft Office Suite</p>
			</div>
		</section>

		<section class="bodyCon">
			<div class="container">
				<h2>My Experience.</h2>
				<p>Undergraduate Researcher @ M-InterACT Lab <span class="h6" style="color:#aaa; font-family: Lekton;">     | September 2018 - Present</span></p>
				<p>Microscopy/Optics Lab Intern @ <a href="https://www.sabic.com/en" style="text-decoration: underline">SABIC </a><span class="h6" style="color:#aaa; font-family: Lekton;">     | May 2017</span></p>
			</div>
		</section>

		<section class="projects">
			<div class="container">
				<h2>My Projects.</h2>
				<ul class="projects-list">
					{% for item in site.categories.projects reversed %}
						<li>
							<a href="{{ item.url | prepend: site.baseurl }}">
								<div class="img-wrapper">
									<img src="{{ item.project.logo | prepend: site.baseurl }}" alt="{{ item.project.title }}" />
								</div>
								<span class="h2">{{ item.project.type }}</span>
								<h3>{{ item.project.title }}</h3>
							</a>
						</li>
					{% endfor %}
				</ul>
			</div>
		</section>
	</main>
	{% include footer.html %}
	<script src="{{ "/assets/scripts/vendor/scrollreveal.min.js" | prepend: site.baseurl }}"></script>
	<script src="{{ "/assets/scripts/home.js" | prepend: site.baseurl }}"></script>
</body>
</html>
