---
---
<!DOCTYPE html>
<html lang="en">
<head>
	<title>{{ site.author }} / {{ site.tagline }}</title>
	<meta name="author" content="{{ site.author }}">
	<meta name="description" content="{{ site.description }}">
	<meta name="skills" content="{{ site.skills }}">
	<meta name="keywords" content="{{ site.keywords }}">
	{% include head.html %}
	<style>
		a:hover {
  			color: #aaa;
		}

	</style>

</head>
<body>
	{% include header.html %}
	<script src="{{ "/assets/scripts/toggle.js" | prepend: site.baseurl }}"></script>
	<main class="content">

		<section class="intro">
			<div class="container">
				<h2>About me.</h2>
				<p style="font-family: Poppins">Nice to meet you. My name is <span style="color: #6D98BA">Tanya Lai</span>.</p>
				<p style="font-family: Poppins-Light;"><br>{{ site.description }}<a href="https://www.michiganpops.org/" style="text-decoration: underline" target="_blank">Michigan Pops Orchestra</a>, researching in the M-InterACT Lab under <a href="http://isd.engin.umich.edu/degree-programs/design-science/melody-ku" style="text-decoration: underline" target="_blank">Dr. Melody Ku</a>, and obssessing over stationery.</p>
			</div>
		</section>

		<section class="bodyCon">
			<div class="container">
				<h2>My Resumé.</h2>
				<p style="font-family: Poppins-Light;"> Download my resumé <a href="https://umich.box.com/s/2x7arkcal0dgp1z3aehhttghvgrukjls" style="text-decoration: underline; color: #6D98BA" target="_blank">here</a></p>
			</div>
		</section>

		<section class="bodyCon">
			<div class="container">
				<h2>My Skills.</h2>
				<p style="font-family: Poppins">Languages: <span style="font-family: Poppins-Light;">C++, Java, JavaScript, TypeScript, Python3, HTML, CSS, Assembly, MATLAB, Verilog </span></p>
				<p style="font-family: Poppins">Technologies and Frameworks: <span style="font-family: Poppins-Light;">Ionic 4, Express.js, Node Package Manager, Angular 8, MySQL</span></p>
				<p style="font-family: Poppins">Software and Environments: <span style="font-family: Poppins-Light;">Postman, MySQLWorkbench, VSCode </span></p>
			</div>
		</section>

		<section class="bodyCon">
			<div class="container">
				<h2>My Experience.</h2>
				<p style="font-family: Poppins">Full Stack Developer Intern @ <a href = "https://portal.oculate.co.za/#/app/about-us" style="text-decoration: underline">Oculate </a><span class="h6" style="color:#aaa; font-family: Poppins-Light; text-indent: 1.2em;">| July 2019 - August 2019</span></p>
				<p style="font-family: Poppins">Undergraduate Researcher @ M-InterACT Lab <span class="h6" style="color:#aaa; font-family: Poppins-Light; text-indent: 1.2em;">| September 2018 - Present</span></p>
				<p style="font-family: Poppins">Microscopy/Optics Lab Intern @ <a href="https://www.sabic.com/en" style="text-decoration: underline">SABIC </a><span class="h6" style="color:#aaa; font-family: Poppins-Light; text-indent: 1.2em;">| May 2017</span></p>
			</div>
		</section>

		<section class="projects">
			<div class="container">
				<h2>My Featured Projects.</h2>
				<ul class="projects-list">

					{% for item in site.categories.projects reversed %}

					{% if forloop.index < 7 %}
						<li>
							<a href="{{ item.url | prepend: site.baseurl }}">
								<div class="img-wrapper">
									<img src="{{ item.project.logo | prepend: site.baseurl }}" alt="{{ item.project.title }}" />
								</div>
								<span class="h2" style="font-family: Poppins-Light">{{ item.project.type }}</span>
								<h3>{{ item.project.title }}</h3>
							</a>
						</li>
					{% endif %}


					{% endfor %}
				</ul>
				<br>
				<h3 style="font-family: Poppins-Light"><a href="projects/" style="text-decoration: underline">More Projects. . .</a></h3>
			</div>
		</section>

		<section class="bodyCon">
			<div class="container">
				<h2>Currently...</h2>
				<p style="font-family: Poppins-Light;">getting ready for the school year by studying data structures and algorithms</p>
			</div>
		</section>

	</main>
	{% include footer.html %}
	<script src="{{ "/assets/scripts/vendor/scrollreveal.min.js" | prepend: site.baseurl }}"></script>
	<script src="{{ "/assets/scripts/home.js" | prepend: site.baseurl }}"></script>
</body>
</html>
