<footer class="footer">
	<div class="container">
		<section class="contact">
			<h2>Contact</h2>
			<a title="{{ site.email }}" href="mailto:{{ site.email }}" style="text-decoration: none;">{{ site.email }}</a>
		</section>
		<section class="follow">
			<h2>Follow</h2>
			<ul>
				<li><a title="LinkedIn" href="{{ site.linkedin }}" target="_blank" style="text-decoration: none;">Linkedin</a></li>
				<li><a title="Github" href="{{ site.github }}" target="_blank" style="text-decoration: none;">Github</a></li>
				<li><a title="Spotify" href="{{ site.spotify }}" target="_blank" style="text-decoration: none;">Spotify</a></li>
			</ul>
		</section>
		<div style="font-size: 0.4rem; font-family: Poppins-Light">Favicon made with icon by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon" target="_blank">www.flaticon.com</a></div>
	</div>
</footer>
