<footer class="footer">
	<div class="container">
		<section class="contact">
			<h2>Contact</h2>
			<a title="{{ site.email }}" href="mailto:{{ site.email }}" style="text-decoration: none;">{{ site.email }}</a>
		</section>
		<section class="follow">
			<h2>Follow</h2>
			<ul>
				<li><a title="Linkedin" href="{{ site.linkedin }}" target="_blank" style="text-decoration: none;">Linkedin</a></li>
				<li><a title="Github" href="{{ site.github }}" target="_blank" style="text-decoration: none;">Github</a></li>
				<li><a title="Spotify" href="{{ site.spotify }}" target="_blank" style="text-decoration: none;">Spotify</a></li>
			</ul>
		</section>
	</div>
</footer>
