<header class="header">
	<div class="container">
			<div class="Navbar">

	   <div class="Navbar__Link Navbar__Link-brand">
			 <h1 class="logo web" style="display: inline; padding: 0.5rem 0 0 0;">
				 <a title="{{ site.author }}" href="{{ site.baseurl | append: "/" }}" style="text-decoration: none;"><span style="font-family: Poppins;" >{{ site.author }}</span></a>
			 </h1>
	    </div>
	    <div class="Navbar__Link Navbar__Link-toggle">
	      <div class="fas fa-bars bars" style="margin: 0 0 5px 0"></div>
				<div class="fas fa-bars bars" style="margin: 5.8px 0 5.8px 0"></div>
				<div class="fas fa-bars bars" style="margin: 5px 0 0 0"></div>
	    </div>

	  <nav class="Navbar__Items">
	  </nav>
	  <nav class="Navbar__Items Navbar__Items--right">
		<div class="hozline" style="border: 0.5px solid black;"></div>
		<div class="Navbar__Link rnav padder">
	      <a href="/" style="text-decoration: none;">Home</a>
	    </div>
	    <div class="Navbar__Link rnav padder">
	      <a href="https://umich.box.com/s/xxbug4av798sjes9k5dxbeg0my68ry96" target="_blank" style="text-decoration: none;">Resumé</a>
	    </div>
	    <div class="Navbar__Link rnav padder">
	      <a href="/projects" style="text-decoration: none;">Projects</a>
		</div>
		<div class="Navbar__Link rnav padder">
			<a href="/courses" style="text-decoration: none;">Courses</a>
		</div>
	    <div class="Navbar__Link rnav padder">
	      <a href="/about" style="text-decoration: none;">About</a>
	    </div>
	  </nav>
	</div>
	</div>

</header>
