<header class="header">
	<div class="container">
		<h1 class="logo">
			<a title="{{ site.author }}" href="{{ site.baseurl | append: "/" }}"><span style="font-family: Poppins;">{{ site.author }}</span></a>
			<nav class="navi">
				<ul>
					<li class="right"><a href="tanyalai.github.io">Home</a></li>
					<li class="right"><a href="">Resume</a></li>
					<li class="right"><a href="tanyalai.github.io/projects/">Projects</a></li>
					<li class="right"><a href="">About</a></li>
				</ul>
			</nav>
		</h1>
	</div>
</header>
