<header class="header">
	<div class="container">
		<nav class="navi">

		<h1 class="logo" style="display: inline;">
			<a title="{{ site.author }}" href="{{ site.baseurl | append: "/" }}"><span style="font-family: Poppins;">{{ site.author }}</span></a>
		</h1>

		<div class="web">
		<ul id="nav" style="float:right!important; font-size: 1.5rem; font-family: Poppins-Light;text-align: center;">
			<li class="rnav"><a href="tanyalai.github.io">Home</a></li>
			<li class="rnav"><a href="">Resume</a></li>
			<li class="rnav"><a href="tanyalai.github.io/projects/">Projects</a></li>
			<li style="display: inline; padding: 0 1rem 0 0;"><a href="">About</a></li>
		</ul>

		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
		<script type="text/javascript">
		$("#nav").addClass("js").before('<div id="menu"></div>');
		$("#menu").click(function(){
				$("#nav").toggle();
		});
		$(window).resize(function(){
		if(window.innerWidth > 768) {
			$("#nav").removeAttr("style");
		}
		});
		</script>

		</div>


		</nav>
	</div>

</header>
